@model DataAcessLayer.ViewModels.Client.UserRideDetailsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section Headers{
    <link href="~/ClientAssets/css/rides.css" rel="stylesheet" />
}
<div id="root" class="" style="min-height: 717px; height: auto">

    <main class="mainContent relative"
          id="MainContent"
          tabindex="-1"
          style="min-height: 717px; height: auto">
        <div class="transition-wrapper relative "
             style="min-height: 717px; height: auto">
            <div class="sc-bZkfAO dfCmkc page-wrapper fade-forward-enter-done"
                 style="min-height: 717px; height: auto">
                <div class="transition-wrapper relative "
                     style="min-height: 717px; height: auto">
                    <div class="sc-bZkfAO dfCmkc page-wrapper fade-forward-enter-done"
                         style="min-height: 717px; height: auto">
                        <div class="transition-wrapper relative "
                             style="min-height: 717px; height: auto">
                            <div class="sc-bZkfAO dfCmkc page-wrapper"
                                 style="min-height: 717px; height: auto">
                                <div>
                                    <div role="presentation" class="sc-fctJkW ftnfJP">
                                        <div class="section-content">
                                            <h1 id="6d91803465c3fde18cb809ad49d6990b"
                                                class="sc-gsnTZi sc-hTtwUo sc-jgbSNz GJlVl ipZXlI jlbwlf">
                                                Ride plan
                                            </h1>
                                            @if (Model.HasRatedPubllisher == false && Model.Status=="" )
                                            {
                                                <ul>
                                                    <li>
                                                        <a class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY"
                                                           asp-action="Publisher" asp-controller="Rate" asp-route-PublisherId="@Model.PublisherId"
                                                           asp-route-RideId="@ViewBag.RideId"
                                                           >
                                                            <span class="kirk-item-leftWrapper">
                                                                <span class="kirk-item-leftAddon">
                                                                    <svg viewBox="-2 -4 84 82"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         class="kirk-icon sc-ksZaOG foFWuq"
                                                                         width="24"
                                                                         height="24"
                                                                         aria-hidden="true">
                                                                        <g>
                                                                            <linearGradient y2="0%"
                                                                                            x2="100%"
                                                                                            y1="0%"
                                                                                            x1="0%"
                                                                                            id="gradient-0">
                                                                                <stop stop-color="#00AFF5"
                                                                                      offset="0%"></stop>
                                                                                <stop stop-color="#FFF"
                                                                                      offset="0%"></stop>
                                                                            </linearGradient>
                                                                            <path stroke="#00AFF5"
                                                                                  stroke-width="4"
                                                                                  fill="url(#gradient-0)"
                                                                                  d="M 40.000 60.000 L 63.511 72.361 L 59.021 46.180 L 78.042 27.639 L 51.756 23.820 L 40.000 0.000 L 28.244 23.820 L 1.958 27.639 L 20.979 46.180 L 16.489 72.361 L 40.000 60.000"></path>
                                                                        </g>
                                                                    </svg>
                                                                </span><span class="kirk-item-leftText">
                                                                    <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Leave a rating!</span><span class="kirk-text kirk-text-body sc-fbPSWO ldKURU kirk-item-body">
                                                                        Rate your travel experience with
                                                                        @Model.PublisherName.
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            }

                                            @if (Model.Status != "" || Model.IsRequestPending != "")
                                            {
                                                <ul>
                                                    <li>
                                                        <a class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY"
                                                           href="">
                                                            <span class="kirk-item-leftWrapper">
                                                                <span class="kirk-item-leftAddon">
                                                                    @if (Model.Status != "")
                                                                    {
                                                                        <svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG jucjqW" width="24" height="24" aria-hidden="true"><path d="M11 1C5.455 1 1 5.455 1 11s4.455 10 10 10 10-4.455 10-10S16.545 1 11 1zm0 3.636c1.09 0 2.09.273 3 .728L5.364 14a6.644 6.644 0 0 1-.728-3A6.324 6.324 0 0 1 11 4.636zm0 12.728c-1.09 0-2.09-.273-3-.728L16.636 8c.455.91.728 1.91.728 3A6.324 6.324 0 0 1 11 17.364z" stroke="#708C91" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg>
                                                                    }
                                                                    else
                                                                    {
                                                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG foFWuq" width="24" height="24" aria-hidden="true">
                                                                            <path d="M21.916,20.223C21.896,20.194,20,17.305,20,13.5v-5C20,4.294,16.706,1,12.5,1C8.294,1,5,4.294,5,8.5v5c0,3.791-1.897,6.694-1.917,6.723c-0.102,0.154-0.111,0.352-0.024,0.514S3.316,21,3.5,21h5.549c0.238,1.715,1.661,3,3.451,3c1.791,0,3.213-1.285,3.451-3H21.5c0.185,0,0.354-0.102,0.44-0.264C22.028,20.573,22.019,20.376,21.916,20.223z M12.5,23c-1.253,0-2.233-0.831-2.453-2h4.905C14.733,22.169,13.752,23,12.5,23z M4.365,20C4.978,18.827,6,16.435,6,13.5v-5C6,4.855,8.855,2,12.5,2C16.145,2,19,4.855,19,8.5v5c0,2.935,1.021,5.327,1.636,6.5H4.365z"></path>
                                                                        </svg>
                                                                    }

                                                                </span><span class="kirk-item-leftText">
                                                                    @if (Model.Status != "")
                                                                    {
                                                                        <span class="kirk-text kirk-text-body sc-fbPSWO ldKURU" style="color: rgb(112, 140, 145);">@Model.Status</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="kirk-text kirk-text-body sc-fbPSWO ldKURU" style="color: rgb(112, 140, 145);">@Model.IsRequestPending</span>
                                                                    }

                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            }
                                            <div aria-hidden="true"
                                                 class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                <hr />
                                            </div>
                                            <div role="presentation"
                                                 aria-hidden="true"
                                                 class="sc-dWINGa jRVpbu"></div>
                                            <h2 class="sc-gsnTZi sc-cOFTSb sc-BeQoi sc-kgUAyh GJlVl elNBBy fboqB fGBVQQ">
                                                @Model.JourneyDate.ToString("ddd"), @Model.JourneyDate.ToString("M")
                                            </h2>
                                            <ul class="sc-iBkjds jFXfSQ">
                                                <li aria-label="Departure:"
                                                    class="sc-ftvSup gUUBWK">
                                                    <a href="">
                                                        <div class="sc-papXJ kCoNOj kirk-timeDuration notranslate">
                                                            <time aria-hidden="false"
                                                                  class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi GJlVl NfozK iuhvyf">@Model.PickUp_Time.ToShortTimeString()</time>
                                                            </div>
                                                            <div aria-hidden="true"
                                                                 class="sc-kDDrLX fcQvzA">
                                                                <div class="sc-iqcoie dVexZR"></div>
                                                                <div class="sc-crXcEl cvoNRg">
                                                                    <div class="sc-bczRLJ fnUAXU kirk-bullet kirk-bullet--default"
                                                                         aria-hidden="true"></div>
                                                                </div>
                                                                <div class="sc-iqcoie biKqgB"></div>
                                                            </div>
                                                            <div class="sc-bjUoiL ilTvTT">
                                                                <span class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi sc-idiyUo GJlVl NfozK iuhvyf dWGBOT">@Model.Departure_City</span><span class="sc-gsnTZi sc-dkzDqf sc-dIouRR GJlVl dFZSDP fiPSYN">
                                                                    @Model.PickUp_Location
                                                                </span><svg viewBox="0 0 24 24"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            class="kirk-icon sc-ksZaOG jucjqW sc-dmRaPn iNVSVJ"
                                                                            width="24"
                                                                            height="24"
                                                                            aria-hidden="true">
                                                                    <polyline fill="none"
                                                                              stroke="#708C91"
                                                                              stroke-width="2"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              stroke-miterlimit="10"
                                                                              points="9 18 15 12 9 6"></polyline>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li aria-label="Drop-off location:"
                                                        class="sc-ftvSup gUUBWK">
                                                        <a href="">
                                                            <div class="sc-papXJ kCoNOj kirk-timeDuration notranslate">
                                                                <time aria-hidden="false"
                                                                      class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi GJlVl NfozK iuhvyf">@Model.DropOff_Time.ToShortTimeString()</time>
                                                                </div>
                                                                <div aria-hidden="true"
                                                                     class="sc-kDDrLX fcQvzA">
                                                                    <div class="sc-iqcoie biKqgB"></div>
                                                                    <div class="sc-crXcEl cvoNRg">
                                                                        <div class="sc-bczRLJ fnUAXU kirk-bullet kirk-bullet--default"
                                                                             aria-hidden="true"></div>
                                                                    </div>
                                                                    <div class="sc-iqcoie dVexZR"></div>
                                                                </div>
                                                                <div class="sc-bjUoiL ilTvTT">
                                                                    <span class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi sc-idiyUo GJlVl NfozK iuhvyf dWGBOT">@Model.Destination_City</span><span class="sc-gsnTZi sc-dkzDqf sc-dIouRR GJlVl dFZSDP fiPSYN">@Model.DropOff_Location</span><svg viewBox="0 0 24 24"
                                                                                                                                                                                                                                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                                                                                                                                                                                                                                     class="kirk-icon sc-ksZaOG jucjqW sc-dmRaPn iNVSVJ"
                                                                                                                                                                                                                                                                                     width="24"
                                                                                                                                                                                                                                                                                     height="24"
                                                                                                                                                                                                                                                                                     aria-hidden="true">
                                                                        <polyline fill="none"
                                                                                  stroke="#708C91"
                                                                                  stroke-width="2"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"
                                                                                  stroke-miterlimit="10"
                                                                                  points="9 18 15 12 9 6"></polyline>
                                                                    </svg>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div aria-hidden="true"
                                                         class="sc-ehmTmK sc-yeoIj gANVXG pWqRB">
                                                        <hr />
                                                    </div>
                                                    <div class="kirk-item sc-GVOUr CcFKY"
                                                         aria-label="Payment details:">
                                                        <span class="kirk-item-leftWrapper">
                                                            <span class="kirk-item-leftText">
                                                                <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Pay in cash</span><span class="kirk-text kirk-text-body sc-fbPSWO ldKURU kirk-item-body">@Model.Seat seat</span>
                                                            </span>
                                                        </span><span class="kirk-item-rightText">
                                                            <div class="kirk-text kirk-text-subheaderStrong sc-fbPSWO ldKURU kirk-item-title">
                                                                Rs.@Model.Price_Seat
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <div aria-hidden="true"
                                                         class="sc-ehmTmK sc-yeoIj gANVXG pWqRB">
                                                        <hr />
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="presentation" class="sc-fctJkW ftnfJP">
                                                <div class="section-content">
                                                    <a class="kirk-item kirk-item--clickable sc-GVOUr sc-gBztCq CcFKY bHmwKI"
                                                       aria-label="Driver:"
                                                       asp-action="Profile" asp-controller="User" asp-route-Id="@Model.PublisherId">
                                                        <span class="kirk-item-leftWrapper">
                                                            <span class="kirk-item-leftText">
                                                                <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">@Model.PublisherName</span><span class="kirk-text kirk-text-body sc-fbPSWO ldKURU kirk-item-body">
                                                                    <div class="sc-gfbRpc eMENRG"></div>
                                                                </span>
                                                            </span>
                                                        </span><span class="kirk-item-rightAddon">
                                                            <div class="sc-fXynhf FdgvG kirk-avatar--image kirk-avatar">
                                                                <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-m-02.svg"
                                                                     alt="" />
                                                            </div>
                                                        </span><span class="kirk-item-rightAddon">
                                                            <svg viewBox="0 0 24 24"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 class="kirk-icon sc-ksZaOG jucjqW"
                                                                 width="24"
                                                                 height="24"
                                                                 aria-hidden="true">
                                                                <polyline fill="none"
                                                                          stroke="#708C91"
                                                                          stroke-width="2"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"
                                                                          stroke-miterlimit="10"
                                                                          points="9 18 15 12 9 6"></polyline>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div role="presentation" class="sc-fctJkW ftnfJP">
                                                <div class="section-content">
                                                    <div class="kirk-item sc-GVOUr sc-gBztCq CcFKY bHmwKI"
                                                         aria-label="Car:">
                                                        <span class="kirk-item-leftWrapper">
                                                            <span class="kirk-item-leftText">
                                                                <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">@Model.VehicleName</span><span class="kirk-text kirk-text-body sc-fbPSWO ldKURU kirk-item-body">
                                                                    <div class="sc-gfbRpc eMENRG">
                                                                        <span class="sc-gsnTZi sc-gKXOVf GJlVl dJWFGW">@Model.VehicleColor</span>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </span><span class="kirk-item-rightAddon">
                                                            <div class="sc-fXynhf FdgvG kirk-avatar--image kirk-avatar">
                                                                @if (Model.VehicleImage == null)
                                                                {

                                                                    <img src="https://cdn.blablacar.com/comuto3/images/rebranding/icons/vehicles/car-suv.svg"
                                                                         alt="" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="@Model.PublisherProfile" />
                                                                }
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            @if (Model.Partners.Count > 0)
                                            {

                                                <div role="presentation" class="sc-fbyfCU ghIEhT">
                                                    <div class="section-content">
                                                        <div aria-hidden="true" class="sc-ehCJOs sc-xiLah eXHFUG gCuPID">
                                                            <hr>
                                                        </div>
                                                        <div class="pl-xl pr-xl">
                                                            <div class="sc-gsDKAQ sc-eCImPb sc-jRQBWg erBbkF cgfVyE grmCxQ py-l mb-m py-l mb-m py-l mb-m">
                                                                Co-travellers
                                                            </div>
                                                        </div>

                                                        <ul>
                                                            @foreach (var item in Model.Partners)
                                                            {
                                                                @*@if (item.Id != ViewBag.UserId) {*@
                                                                <li>
                                                                    <a class="kirk-item kirk-item--clickable sc-Galmp sc-cLpAjG kNDdlo dTtSfA" style="position: relative; display: flex; padding-top: 16px; padding-bottom: 16px; -webkit-box-align: center; align-items: center; flex: 1 1 0%; border: 0px; " href="/User/Profile/@item.Id">
                                                                        <span class="kirk-item-leftWrapper">
                                                                            <span class="kirk-item-leftText">
                                                                                <span class="kirk-text kirk-text-title sc-faUpoM gHhpVx">@(item.Id == ViewBag.UserId ? "You" : item.RiderName ) </span>
                                                                            </span>
                                                                        </span><span class="kirk-item-rightAddon">
                                                                            <div class="sc-fWCJzd ctNlLp kirk-avatar--image kirk-avatar">
                                                                                @if (item.RiderProfile == null)
                                                                                {
                                                                                    <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-f-02.svg" alt="">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <img src="@item.RiderProfile" />
                                                                                }
                                                                            </div>
                                                                        </span><span class="kirk-item-rightAddon">
                                                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksdxgE eqtwsd" width="24" height="24" aria-hidden="true">
                                                                                <polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6"></polyline>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            @* } *@

                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {

                                                <div role="presentation" class="sc-fctJkW ftnfJP">
                                                    <div class="section-content">
                                                        <div aria-hidden="true"
                                                             class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                            <hr />
                                                        </div>
                                                        <div class="kirk-item sc-GVOUr CcFKY">
                                                            <span class="kirk-item-leftWrapper">
                                                                <span class="kirk-item-leftText">
                                                                    <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU"
                                                                          style="color: rgb(112, 140, 145)">No other passengers yet</span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div role="presentation" class="sc-fctJkW ftnfJP">
                                                <div class="section-content">
                                                    <div aria-hidden="true"
                                                         class="sc-ehmTmK sc-yeoIj gANVXG pWqRB">
                                                        <hr />
                                                    </div>
                                                </div>
                                            </div>
                                            @* check cancellation status also *@
                                            @if (Model.AllowCancel == true)
                                            {
                                                <div role="presentation" class="sc-fctJkW ftnfJP">
                                                    <div class="section-content">
                                                        <a asp-action="CancelReason" asp-route-BookingId="@Model.BookingId" asp-controller="Book">
                                                            <button type="button"
                                                                    class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY">
                                                                <span class="kirk-item-leftWrapper">
                                                                    <span class="kirk-item-leftText">
                                                                        <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Cancel Booking</span>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>