@model DataAcessLayer.ViewModels.Ride.RideOfferViewModel

@{
    ViewData["Title"] = "Offer";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section Headers{
    <link href="~/ClientAssets/css/rides.css" rel="stylesheet" />
}
<div id="root" class="" style="min-height: 342px; height: auto">
    <div class="sc-olbas iVKYbq kirk-drawer-dimmer" aria-hidden="true"></div>
    <main class="mainContent relative"
          id="MainContent"
          tabindex="-1"
          style="min-height: 342px; height: auto">
        <div class="transition-wrapper relative "
             style="min-height: 342px; height: auto">
            <div class="sc-bZkfAO dfCmkc page-wrapper"
                 style="min-height: 342px; height: auto">
                <div class="transition-wrapper relative "
                     style="min-height: 342px; height: auto">
                    <div class="sc-bZkfAO dfCmkc page-wrapper  fade-forward-enter-done"
                         style="min-height: 342px; height: auto">
                        <div class="transition-wrapper relative "
                             style="min-height: 342px; height: auto">
                            <div class="sc-bZkfAO dfCmkc page-wrapper"
                                 style="min-height: 342px; height: auto">
                                <div role="presentation" class="sc-gicCDI dDCeGO">
                                    <div role="presentation" class="sc-fctJkW ftnfJP">
                                        <div class="section-content">
                                            <h1 class="sc-gsnTZi sc-hTtwUo sc-jgbSNz GJlVl ipZXlI jlbwlf">
                                                Ride plan
                                            </h1>
                                            @foreach (var item in Model.NewRequests)
                                            {
                                                <a class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY" asp-action="Request" asp-route-RequestId="@item.RequestId" >
                                                    <span class="kirk-item-leftWrapper">
                                                        <span class="kirk-item-leftAddon">
                                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG foFWuq" width="24" height="24" aria-hidden="true">
                                                                <path d="M21.916,20.223C21.896,20.194,20,17.305,20,13.5v-5C20,4.294,16.706,1,12.5,1C8.294,1,5,4.294,5,8.5v5c0,3.791-1.897,6.694-1.917,6.723c-0.102,0.154-0.111,0.352-0.024,0.514S3.316,21,3.5,21h5.549c0.238,1.715,1.661,3,3.451,3c1.791,0,3.213-1.285,3.451-3H21.5c0.185,0,0.354-0.102,0.44-0.264C22.028,20.573,22.019,20.376,21.916,20.223z M12.5,23c-1.253,0-2.233-0.831-2.453-2h4.905C14.733,22.169,13.752,23,12.5,23z M4.365,20C4.978,18.827,6,16.435,6,13.5v-5C6,4.855,8.855,2,12.5,2C16.145,2,19,4.855,19,8.5v5c0,2.935,1.021,5.327,1.636,6.5H4.365z"></path>
                                                            </svg>
                                                        </span><span class="kirk-item-leftText"><span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">New booking request!</span><span class="kirk-text kirk-text-body sc-fbPSWO ldKURU kirk-item-body">Reply to @item.RiderName</span></span>
                                                    </span>
                                                </a>
                                            }
                                            <div aria-hidden="true"
                                                 class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                <hr />
                                            </div>
                                            <h2 class="sc-gsnTZi sc-cOFTSb sc-BeQoi sc-kgUAyh GJlVl elNBBy fboqB fGBVQQ">
                                                @Model.JourneyDate.ToString("ddd"), @Model.JourneyDate.ToString("M")
                                            </h2>
                                            <ul class="sc-iBkjds jFXfSQ">
                                                <li class="sc-ftvSup gUUBWK">
                                                    <a>
                                                        <div class="sc-papXJ kCoNOj kirk-timeDuration notranslate">
                                                            <time aria-hidden="false"
                                                                  class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi GJlVl NfozK iuhvyf">@Model.PickUp_Time.ToShortTimeString()</time>
                                                            </div>
                                                            <div aria-hidden="true"
                                                                 class="sc-kDDrLX fcQvzA">
                                                                <div class="sc-iqcoie dVexZR"></div>
                                                                <div class="sc-crXcEl cvoNRg">
                                                                    <div class="sc-bczRLJ fnUAXU kirk-bullet kirk-bullet--default"
                                                                         aria-hidden="true"></div>
                                                                </div>
                                                                <div class="sc-iqcoie biKqgB"></div>
                                                            </div>
                                                            <div class="sc-bjUoiL ilTvTT">
                                                                <span class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi sc-idiyUo GJlVl NfozK iuhvyf dWGBOT">@Model.PickUp_Location</span><span class="sc-gsnTZi sc-dkzDqf sc-dIouRR GJlVl dFZSDP fiPSYN">
                                                                    @Model.PickUp_Location;
                                                                </span><svg viewBox="0 0 24 24"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            class="kirk-icon sc-ksZaOG jucjqW sc-dmRaPn iNVSVJ"
                                                                            width="24"
                                                                            height="24"
                                                                            aria-hidden="true">
                                                                    <polyline fill="none"
                                                                              stroke="#708C91"
                                                                              stroke-width="2"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              stroke-miterlimit="10"
                                                                              points="9 18 15 12 9 6"></polyline>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="sc-ftvSup gUUBWK">
                                                        <a href="#">
                                                            <div class="sc-papXJ kCoNOj kirk-timeDuration notranslate">
                                                                <time aria-hidden="false"
                                                                      class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi GJlVl NfozK iuhvyf">@Model.DropOff_Time.ToShortTimeString()</time>
                                                                </div>
                                                                <div aria-hidden="true"
                                                                     class="sc-kDDrLX fcQvzA">
                                                                    <div class="sc-iqcoie biKqgB"></div>
                                                                    <div class="sc-crXcEl cvoNRg">
                                                                        <div class="sc-bczRLJ fnUAXU kirk-bullet kirk-bullet--default"
                                                                             aria-hidden="true"></div>
                                                                    </div>
                                                                    <div class="sc-iqcoie dVexZR"></div>
                                                                </div>
                                                                <div class="sc-bjUoiL ilTvTT">
                                                                    <span class="sc-gsnTZi sc-eCYdqJ sc-jSMfEi sc-idiyUo GJlVl NfozK iuhvyf dWGBOT">@Model.Destination_City</span><span class="sc-gsnTZi sc-dkzDqf sc-dIouRR GJlVl dFZSDP fiPSYN">@Model.DropOff_Location</span><svg viewBox="0 0 24 24"
                                                                                                                                                                                                                                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                                                                                                                                                                                                                                     class="kirk-icon sc-ksZaOG jucjqW sc-dmRaPn iNVSVJ"
                                                                                                                                                                                                                                                                                     width="24"
                                                                                                                                                                                                                                                                                     height="24"
                                                                                                                                                                                                                                                                                     aria-hidden="true">
                                                                        <polyline fill="none"
                                                                                  stroke="#708C91"
                                                                                  stroke-width="2"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"
                                                                                  stroke-miterlimit="10"
                                                                                  points="9 18 15 12 9 6"></polyline>
                                                                    </svg>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div aria-hidden="true"
                                                         class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                        <hr />
                                                    </div>
                                                    @if (Model.Partners.Count > 0)
                                                    {

                                                        <div role="presentation" class="sc-fbyfCU ghIEhT">
                                                            <div class="section-content">
                                                                <div aria-hidden="true" class="sc-ehCJOs sc-xiLah eXHFUG gCuPID">
                                                                    <hr>
                                                                </div>
                                                                <div class="pl-xl pr-xl">
                                                                    <div class="sc-gsDKAQ sc-eCImPb sc-jRQBWg erBbkF cgfVyE grmCxQ py-l mb-m py-l mb-m py-l mb-m">
                                                                        Co-travellers
                                                                    </div>
                                                                </div>

                                                                <ul>
                                                                    @foreach (var item in Model.Partners)
                                                                    {
                                                                        @if (item.Id != ViewBag.UserId)
                                                                        {
                                                                            <li>
                                                                                <a class="kirk-item kirk-item--clickable sc-Galmp sc-cLpAjG kNDdlo dTtSfA" style="position: relative; display: flex; padding-top: 16px; padding-bottom: 16px; -webkit-box-align: center; align-items: center; flex: 1 1 0%; border: 0px; " href="/User/Profile/5">
                                                                                    <span class="kirk-item-leftWrapper">
                                                                                        <span class="kirk-item-leftText">
                                                                                            <span class="kirk-text kirk-text-title sc-faUpoM gHhpVx">@item.RiderName</span>
                                                                                        </span>
                                                                                    </span><span class="kirk-item-rightAddon">
                                                                                        <div class="sc-fWCJzd ctNlLp kirk-avatar--image kirk-avatar">
                                                                                            @if (item.RiderProfile == null)
                                                                                            {
                                                                                                <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-f-02.svg" alt="">
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <img src="@item.RiderProfile" />
                                                                                            }
                                                                                        </div>
                                                                                    </span><span class="kirk-item-rightAddon">
                                                                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksdxgE eqtwsd" width="24" height="24" aria-hidden="true">
                                                                                            <polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6"></polyline>
                                                                                        </svg>
                                                                                    </span>
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                    }

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {

                                                        <div role="presentation" class="sc-fctJkW ftnfJP">
                                                            <div class="section-content">
                                                                <div aria-hidden="true"
                                                                     class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                                    <hr />
                                                                </div>
                                                                <div class="kirk-item sc-GVOUr CcFKY">
                                                                    <span class="kirk-item-leftWrapper">
                                                                        <span class="kirk-item-leftText">
                                                                            <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU"
                                                                                  style="color: rgb(112, 140, 145)">No other passengers yet</span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div aria-hidden="true"
                                                         class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                        <hr />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>