@model DataAcessLayer.Models.Rides.PublishRide

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div>
    <h4>Ride Plan</h4>
    <hr />

    @* New Request Section *@
    @if (Model.IsInstant_Approval == false)
    {

        var rec = Model.Ride_Approval.Where(x => x.IsApproved == false && x.IsRejected == false).ToList();
        if (rec.Count > 0)
        {
            <h4>New booking Request..!</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Seats</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in rec)
                    {
                        <tr>
                            <td>@item.User.Name</td>
                            <td> @item.RequestedSeats</td>
                            <td>
                                <a asp-controller="RideRequest" asp-route-UserId="@item.UserId" asp-route-Seat=@item.RequestedSeats asp-route-RideId=@item.RideId asp-route-RequestId=@item.Id asp-action="Index" asp-route-status=true class="btn btn-primary">Approve</a> |
                                <a asp-controller="RideRequest" asp-route-RequestId=@item.Id asp-action="Index" asp-route-status=false class="btn btn-danger">Decline</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }


    }

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JourneyDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departure_City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departure_City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination_City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination_City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUp_Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUp_Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DropOff_Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DropOff_Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUp_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUp_Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DropOff_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DropOff_Time)
        </dd>


        @{
            @foreach (var item in Model.Booking)
            {
                <div>
                    <span>@item.</span>
                    <span>@item.SeatQty</span>
                </div>
            }
        }
        
        @*Check Booking and Display Ride Partrners Name
            And Link To Their Open Profiles*@



        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsInstant_Approval)
            </dt>

            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsCompletelyBooked)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsCompletelyBooked)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsCancelled)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsCancelled)*@
        @*</dd>*@


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
