@model IEnumerable<DataAcessLayer.Models.Rides.PublishRide>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination_City)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PickUp_Time)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="Details(@item.Id)">
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Vehicle.Name)
                </td>
                <td>
                    @item.JourneyDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPassengers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination_City)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PickUp_Time)
                </td>

                @if (item.IsInstant_Approval == false && item.Ride_Approval.Any(x => x.IsRejected == false))
                {
                    <td class="text-primary"> New Request</td>
                }
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    const Details = (id) => {
        window.location.href = `Details/${id}`;
    }
</script>