@model IEnumerable<DataAcessLayer.ViewModels.RideDetailsView>

@{
    ViewData["Title"] = "Rides";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Rides</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@functions {
    string CheckDistance(double distance)
    {
        string str;
        if (distance < 5)
        {
            str = "Very Close To You";
        }
        else if (distance < 15)
        {
            str = "A Bit Away From You";
        }
        else
        {
            str = "Very Far";
        }
        return str;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUp_LatLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOff_LatLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUp_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOff_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInstant_Approval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Departure_LatLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Destination_LatLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pickup_DifferDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drop_DifferDistance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUp_LatLong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DropOff_LatLong)
                </td>
                <td>
                    @item.PickUp_Time.ToShortTimeString()
                </td>
                <td>
                    @item.DropOff_Time.ToShortTimeString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInstant_Approval)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price_Seat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client_Departure_LatLong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client_Destination_LatLong)
                </td>
                <td>
                    <span>@CheckDistance(item.Pickup_DifferDistance)</span>
                </td>
                <td>
                    <span>@CheckDistance(item.Drop_DifferDistance)</span>
                </td>
                <td>
                    @{
                        var parms = new Dictionary<string, string>
                        {
                            { "Ride", item.Id.ToString() },
                            { "Pickup", item.Pickup_DifferDistance.ToString() },
                            { "Drop", item.Drop_DifferDistance.ToString() },
                            //{ "Seat",item.sea}
                        };
                    }
                    <a asp-action="Details" asp-all-route-data="parms" >Book</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    const BookMe = (id) => {
        console.log("Noww");
    }
    $(document).ready(function () {
        console.log("Ready");
        $("#frm")
    })
</script>
