@model IEnumerable<DataAcessLayer.Models.Rides.PublishRide>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section PageTitle{
    Published Ride
}

@section Headers{
    <link rel="stylesheet" href="~/assets/vendors/jquery-datatables/jquery.dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/all.min.css">
    <style>

        table.dataTable td {
            padding: 15px 8px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }
    </style>

}

<section class="section">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                <form asp-action="Index" method="post">
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="table1_length">
                                <label>
                                    Show
                                    <select id="pageSize" name="table1_length" aria-controls="table1" class="form-select form-select-sm rounded-pill px-4 py-2">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="table1_filter" class="dataTables_filter">
                                <label>
                                    Search:<input id="searchData" type="search" class="form-control form-control-sm rounded-pill px-3 py-2" placeholder="" aria-controls="table1">
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Passengers</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Price</th>
                                <th>Complete</th>
                                <th>Instant</th>
                            </tr>
                        </thead>
                        <tbody id="table1body">
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Publisher.Name</td>
                                <td>@item.JourneyDate.ToShortDateString()</td>
                                <td>@item.MaxPassengers</td>
                                @* Substract Seats Needed  By Checking In Booking Table and cancelled table *@
                                <td>@item.Departure_City</td>
                                <td>@item.Destination_City</td>
                                <td>@item.Price_Seat</td>
                                <td>@item.IsCompletelyBooked</td>
                                <td>@item.IsInstant_Approval</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row mb-3">

                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="table1_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="table1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="table1_previous">
                                    <a href="#" aria-controls="table1" data-dt-idx="0" tabindex="0" class="page-link rounded-circle d-inline-block ms-1">
                                        <i class="fas fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="table1" data-dt-idx="1" tabindex="0" class="page-link rounded-circle d-inline-block ms-1">
                                        1
                                    </a>
                                </li>
                                <li class="paginate_button page-item next disabled" id="table1_next">
                                    <a href="#" aria-controls="table1" data-dt-idx="2" tabindex="0" class="page-link rounded-circle d-inline-block ms-1 disabled">
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>