@model IEnumerable<DataAcessLayer.Models.Rides.PublishRide>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section PageTitle{
    Published Ride
}

@section Headers{
    <link rel="stylesheet" href="~/assets/vendors/jquery-datatables/jquery.dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/all.min.css">
    <style>

        table.dataTable td {
            padding: 15px 8px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }
    </style>

}
@* Booking Modal *@

<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Booking Details
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body" id="booking-data">
                <table class="table" id="booking-table" >
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Seat</th>
                        </tr>
                    </thead>
                    <tbody id="booking-table-body">
                    </tbody>
                </table>
                <div id="not-found" >No Bookings</div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                <form asp-action="Index" method="post">
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="table1_length">
                                <label>
                                    Show
                                    <select id="pageSize" name="table1_length" aria-controls="table1" class="form-select form-select-sm rounded-pill px-4 py-2">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="table1_filter" class="dataTables_filter">
                                <label>
                                    Search:<input id="searchData" type="search" class="form-control form-control-sm rounded-pill px-3 py-2" placeholder="" aria-controls="table1">
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Passengers</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Price</th>
                                <th>Complete</th>
                                <th>Instant</th>
                                <th>Bookings</th>
                            </tr>
                        </thead>
                        <tbody id="table1body">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>@item.Id</td>*@
                                    <td>@item.Publisher.Name</td>
                                    <td>@item.JourneyDate.ToShortDateString()</td>
                                    <td>@item.MaxPassengers</td>
                                    @* Substract Seats Needed  By Checking In Booking Table and cancelled table *@
                                    <td>@item.Departure_City</td>
                                    <td>@item.Destination_City</td>
                                    <td>@item.Price_Seat</td>
                                    <td>@item.IsCompletelyBooked</td>
                                    <td>@item.IsInstant_Approval</td>
                                    <td>
                                        <span class="hideMe open-BookingDialog" data-bs-toggle="modal" data-id="@item.Id"
                                              data-bs-target="#booking-modal">
                                            <button class="btn btn-primary">Bookings</button>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row mb-3">

                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="table1_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="table1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="table1_previous">
                                    <a href="#" aria-controls="table1" data-dt-idx="0" tabindex="0" class="page-link rounded-circle d-inline-block ms-1">
                                        <i class="fas fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="table1" data-dt-idx="1" tabindex="0" class="page-link rounded-circle d-inline-block ms-1">
                                        1
                                    </a>
                                </li>
                                <li class="paginate_button page-item next disabled" id="table1_next">
                                    <a href="#" aria-controls="table1" data-dt-idx="2" tabindex="0" class="page-link rounded-circle d-inline-block ms-1 disabled">
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).on("click", ".open-BookingDialog", function () {

        var RideId = $(this).data('id');

        var BookingModal = $("#booking-data")
        var tableBody = $("#booking-table-body")
        var BookingTable = $("#booking-table")

        var NotFound = $("#not-found");

        BookingTable.hide();
        NotFound.hide();
        tableBody.empty();

        BookingModal.append(`<div class="spinner-border" id="loader-data" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden" > Loading...</span >
                            </div >`);

        $.ajax({
            type: "GET",
            url: `Bookings/GetBookingById/${RideId}`,

            success: function (res) {
                
                var bookingSection = $("#booking-data");
                if (res.length != 0) {

                    $("#loader-data").remove();

                    var data = "";
                    $.each(res, (i, val) => {
                        data += `<tr><td>${val.rider.name}</td><td>${val.seatQty}</td></tr>`;
                    })
                    tableBody.append(data);
                    BookingTable.show();
                }
                else {
                    $("#loader-data").remove();
                    NotFound.show();
                    //bookingSection.append("No Data Found");
                }
            },
            error: function (req) {
                alert("Booking api eror");
            }
        });
    });
</script>

<style>
    .hideMe {
        opacity: 0.6
    }

        .hideMe:hover {
            opacity: 1;
            cursor: pointer
        }
</style>