@model DataAcessLayer.Models.Rides.PublishRide

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>PublishRide</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JourneyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPassengers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxPassengers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departure_City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departure_City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination_City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination_City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUp_Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUp_Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DropOff_Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DropOff_Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUp_LatLong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUp_LatLong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DropOff_LatLong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DropOff_LatLong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUp_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUp_Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DropOff_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DropOff_Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsInstant_Approval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsInstant_Approval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price_Seat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price_Seat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ride_Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ride_Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publishing_Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publishing_Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompletelyBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompletelyBooked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCancelled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCancelled)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Confirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" id="SeatQty" name="SeatQty" value="@ViewBag.Seat" />
        <button>Book</button>
    </form>
</div>
