@model IEnumerable<DataAcessLayer.Models.Chat.ChatMessages>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

<div>
    <form asp-controller="Chat" asp-action="PostMessage" method="post">
        <input type="text" placeholder="Message" name="Message" />
        @if (ViewBag.RoomId != null)
        {
            <input type="hidden" name="RoomId" value="@ViewBag.RoomId" />
        }
        else
        {
            <input type="hidden" name="PublisherId" value=@ViewBag.PublisherId />
        }
        <input type="hidden" name="RideId" value=@ViewBag.RideId />

        <button>Submit</button>

    </form>
</div>