@model IEnumerable<DataAcessLayer.Models.Chat.ChatRoom>

@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rider.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ride.Departure_City) -> 
                @Html.DisplayFor(modelItem => item.Ride.Destination_City)

            </td>
            <td>
                <a asp-action="Details" asp-route-RoomId="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
