@model DataAcessLayer.ViewModels.Client.UserProfileMenu

@{
    ViewData["Title"] = "Profile Menu";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


@section Headers{
    <link href="~/ClientAssets/css/rides.css" rel="stylesheet" />
}

<main class="mainContent relative"
      id="MainContent"
      tabindex="-1"
      style="min-height: 347px; height: auto">
    <div class="transition-wrapper relative "
         style="min-height: 347px; height: auto">
        <div class="sc-bZkfAO dfCmkc page-wrapper"
             style="min-height: 347px; height: auto">
            <div class="transition-wrapper relative "
                 style="min-height: 347px; height: auto">
                <div class="sc-bZkfAO dfCmkc page-wrapper"
                     style="min-height: 347px; height: auto">
                    <div role="presentation" class="sc-fctJkW ftnfJP">
                        <div class="section-content section-content--large">
                            <div class="sc-kjEcyX jJtyqw">
                                <div role="presentation" class="sc-elYLMi jQDli">
                                    <div class="kirk-panels-section" role="presentation">
                                        <div role="tabpanel"
                                             class="kirk-tab-panel"
                                             id="about_you_panel"
                                             aria-labelledby="about_you">
                                            <div role="presentation" class="sc-fctJkW ftnfJP">
                                                <div class="section-content">
                                                    <ul>
                                                        <li>
                                                            <a class="kirk-item kirk-item--clickable sc-GVOUr sc-IIEeM CcFKY grlpmM kirk-profile-size-medium"
                                                               href="/user/show/3a6ed755-74af-4dc6-9856-aa90f543cd7f">
                                                                <span class="kirk-item-leftWrapper">
                                                                    <span class="kirk-item-leftText">
                                                                        <span class="kirk-text kirk-text-display1 sc-fbPSWO ldKURU">@Model.UserName</span>
                                                                    </span>
                                                                </span><span class="kirk-item-rightAddon">
                                                                    <div class="sc-fXynhf FdgvG kirk-avatar--medium kirk-avatar--image kirk-avatar">

                                                                        @if (String.IsNullOrEmpty(Model.UserProfile))
                                                                        {

                                                                            <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-m-02.svg"
                                                                                 alt="" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="~/img/@Model.UserProfile" />
                                                                        }
                                                                    </div>
                                                                </span><span class="kirk-item-rightAddon">
                                                                    <svg viewBox="0 0 24 24"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         class="kirk-icon sc-ksZaOG jucjqW"
                                                                         width="24"
                                                                         height="24"
                                                                         aria-hidden="true">
                                                                        <polyline fill="none"
                                                                                  stroke="#708C91"
                                                                                  stroke-width="2"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"
                                                                                  stroke-miterlimit="10"
                                                                                  points="9 18 15 12 9 6"></polyline>
                                                                    </svg>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        @if (String.IsNullOrEmpty(Model.UserProfile))
                                                        {

                                                            <li>
                                                                <a class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY"
                                                                   href="#s">
                                                                    <span class="kirk-item-leftWrapper">
                                                                        <span class="kirk-item-leftAddon">
                                                                            <svg viewBox="0 0 24 24"
                                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                                 class="kirk-icon sc-ksZaOG foFWuq"
                                                                                 width="24"
                                                                                 height="24"
                                                                                 aria-hidden="true">
                                                                                <path stroke-width="0"
                                                                                      fill="#00AFF5"
                                                                                      fill-rule="evenodd"
                                                                                      d="M1.14 11.5a10.36 10.36 0 1120.72 0 10.36 10.36 0 01-20.72 0zM11.5 0a11.5 11.5 0 100 23 11.5 11.5 0 000-23zm.57 6.53a.57.57 0 00-1.14 0v4.4h-4.4a.57.57 0 100 1.14h4.4v4.4a.57.57 0 101.14 0v-4.4h4.4a.57.57 0 000-1.14h-4.4z"></path>
                                                                            </svg>
                                                                        </span><span class="kirk-item-leftText">
                                                                            <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Add profile picture</span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        }
                                                        <li>
                                                            <button type="button"
                                                                    class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY">
                                                                <span class="kirk-item-leftWrapper">
                                                                    <span class="kirk-item-leftText">
                                                                        <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Edit personal details</span>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                    <div aria-hidden="true"
                                                         class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                        <hr />
                                                    </div>

                                                    <h2 class="sc-gsnTZi sc-cOFTSb sc-BeQoi sc-kgUAyh GJlVl elNBBy fboqB fGBVQQ"
                                                        style="padding-top: 0px">
                                                        About you
                                                    </h2>
                                                    @if (Model.bio != null)
                                                    {

                                                        <div class="sc-jOrMOR gIkXxY" role="presentation"><p class="sc-gsnTZi sc-gKXOVf sc-dPyBCJ GJlVl dJWFGW gtTNGS">i'm Bhavya Shah, i usually go to ahmedabad</p></div>
                                                    }
                                                    else
                                                    {

                                                        <button type="button"
                                                                class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY">
                                                            <span class="kirk-item-leftWrapper">
                                                                <span class="kirk-item-leftAddon">
                                                                    <svg viewBox="0 0 24 24"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         class="kirk-icon sc-ksZaOG foFWuq"
                                                                         width="24"
                                                                         height="24"
                                                                         aria-hidden="true">
                                                                        <path stroke-width="0"
                                                                              fill="#00AFF5"
                                                                              fill-rule="evenodd"
                                                                              d="M1.14 11.5a10.36 10.36 0 1120.72 0 10.36 10.36 0 01-20.72 0zM11.5 0a11.5 11.5 0 100 23 11.5 11.5 0 000-23zm.57 6.53a.57.57 0 00-1.14 0v4.4h-4.4a.57.57 0 100 1.14h4.4v4.4a.57.57 0 101.14 0v-4.4h4.4a.57.57 0 000-1.14h-4.4z"></path>
                                                                    </svg>
                                                                </span><span class="kirk-item-leftText">
                                                                    <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Add a mini bio</span>
                                                                </span>
                                                            </span>
                                                        </button>
                                                    }

                                                    @if (Model.Preference != null)
                                                    {

                                                        <ul>
                                                            @foreach (var item in Model.Preference)
                                                            {

                                                                <li class="kirk-item sc-GVOUr CcFKY">
                                                                    <span class="kirk-item-leftWrapper">
                                                                        <span class="kirk-item-leftAddon">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#708C91" d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z"></path></svg>
                                                                        </span><span class="kirk-item-leftText"><span class="kirk-text kirk-text-title sc-fbPSWO ldKURU" style="color: rgb(112, 140, 145);">@item</span></span>
                                                                    </span>
                                                                </li>

                                                            }

                                                        </ul>
                                                    }
                                                    <button type="button"
                                                            class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY">
                                                        <a asp-action="Index" asp-controller="Preferences">
                                                            <span class="kirk-item-leftWrapper">
                                                                <span class="kirk-item-leftAddon">
                                                                    <svg viewBox="0 0 24 24"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         class="kirk-icon sc-ksZaOG foFWuq"
                                                                         width="24"
                                                                         height="24"
                                                                         aria-hidden="true">
                                                                        <path stroke-width="0"
                                                                              fill="#00AFF5"
                                                                              fill-rule="evenodd"
                                                                              d="M1.14 11.5a10.36 10.36 0 1120.72 0 10.36 10.36 0 01-20.72 0zM11.5 0a11.5 11.5 0 100 23 11.5 11.5 0 000-23zm.57 6.53a.57.57 0 00-1.14 0v4.4h-4.4a.57.57 0 100 1.14h4.4v4.4a.57.57 0 101.14 0v-4.4h4.4a.57.57 0 000-1.14h-4.4z"></path>
                                                                    </svg>
                                                                </span><span class="kirk-item-leftText">
                                                                    <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Edit travel preferences</span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </button>
                                                    <div aria-hidden="true"
                                                         class="sc-ehmTmK sc-lbOyJj gANVXG hrAVid">
                                                        <hr />
                                                    </div>
                                                    <h2 class="sc-gsnTZi sc-cOFTSb sc-BeQoi sc-kgUAyh GJlVl elNBBy fboqB fGBVQQ"
                                                        style="padding-top: 0px">
                                                        Vehicles
                                                    </h2>

                                                    @if (Model.Vehicles != null)
                                                    {

                                                        <ul>
                                                            @foreach (var item in Model.Vehicles)
                                                            {

                                                                <li>
                                                                    <a class="kirk-item kirk-item--clickable sc-GVOUr sc-IIEeM CcFKY grlpmM"
                                                                       href="#">
                                                                        <span class="kirk-item-leftWrapper">
                                                                            <span class="kirk-item-leftText">
                                                                                <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU ">@item.VeicleBrand @item.VehicleName</span><span class="kirk-text kirk-text-body sc-fbPSWO ldKURU kirk-item-body">
                                                                                    <div class="sc-iuStju hRSmjw">
                                                                                        <span class="sc-gsnTZi sc-gKXOVf GJlVl dJWFGW">@item.VehicleColor</span>
                                                                                    </div>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <span class="kirk-item-rightAddon">
                                                                            <div class="sc-fXynhf FdgvG kirk-avatar--image kirk-avatar">
                                                                                @if (!String.IsNullOrEmpty(item.VehicleImage))
                                                                                {

                                                                                    <img src="https://d2kwny77wxvuie.cloudfront.net/vehicle/hAUjfWNWQoC4Hl4Dq0QRVQ/thumbnail_160x90.jpeg"
                                                                                         alt="" />
                                                                                }
                                                                            </div>
                                                                        </span>
                                                                        <span class="kirk-item-rightAddon">
                                                                            <svg viewBox="0 0 24 24"
                                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                                 class="kirk-icon sc-ksZaOG jucjqW"
                                                                                 width="24"
                                                                                 height="24"
                                                                                 aria-hidden="true">
                                                                                <polyline fill="none"
                                                                                          stroke="#708C91"
                                                                                          stroke-width="2"
                                                                                          stroke-linecap="round"
                                                                                          stroke-linejoin="round"
                                                                                          stroke-miterlimit="10"
                                                                                          points="9 18 15 12 9 6"></polyline>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                    <a class="kirk-item kirk-item--highlighted kirk-item--clickable sc-GVOUr CcFKY add-vehicle-action"
                                                       asp-action="Add" asp-controller="Vehicle">
                                                        <span class="kirk-item-leftWrapper">
                                                            <span class="kirk-item-leftAddon">
                                                                <svg viewBox="0 0 24 24"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     class="kirk-icon sc-ksZaOG foFWuq"
                                                                     width="24"
                                                                     height="24"
                                                                     aria-hidden="true">
                                                                    <path stroke-width="0"
                                                                          fill="#00AFF5"
                                                                          fill-rule="evenodd"
                                                                          d="M1.14 11.5a10.36 10.36 0 1120.72 0 10.36 10.36 0 01-20.72 0zM11.5 0a11.5 11.5 0 100 23 11.5 11.5 0 000-23zm.57 6.53a.57.57 0 00-1.14 0v4.4h-4.4a.57.57 0 100 1.14h4.4v4.4a.57.57 0 101.14 0v-4.4h4.4a.57.57 0 000-1.14h-4.4z"></path>
                                                                </svg>
                                                            </span><span class="kirk-item-leftText">
                                                                <span class="kirk-text kirk-text-title sc-fbPSWO ldKURU">Add vehicle</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel"
                                             class="kirk-tab-panel"
                                             id="account_panel"
                                             aria-labelledby="account"
                                             hidden=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>